/* styles.css */
header a {
color: orange;

}

header a:hover {
    color: white;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: linear;
   
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: linear;
    transition-delay: 0.4s;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.product {
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
    border: #333 10px solid;
}
.product img:hover {
    transform: rotate(5deg);
    transition: transform 0.3s ease;
}
.submenu {
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.5s ease;
}

.nav-item:hover .submenu {
    transform: translateY(0);
    opacity: 1;
}